@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/Home/Save" method="post">
        <p>&nbsp;</p>
        <p><img src="/images/1.jpg" /></p>
        <p>hello world</p>
        <input type="submit" name="sub" value="提交" />
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </form>    
</body>
</html>